/* styles.css */
.carousel-img {
    width: 75%; /* Menggunakan 75% dari lebar kontainernya */
    height: auto; /* Menggunakan tinggi otomatis agar rasio aspek 3:2 tetap terjaga */
    max-width: 100%; /* Maksimum lebar 100% agar gambar tidak melebihi ukuran aslinya */
    object-fit: contain; /* Menggunakan object-fit: contain untuk mempertahankan gambar tanpa memotong */
}

/* navbar */
.navbar {
    background-color: #f8f9fa; 
}

.navbar-brand {
    font-size: 1.5rem; 
    font-style: italic;
    font-weight: bold;
}

.navbar-nav {
    margin-left: auto; 
}

.navbar-nav .nav-item {
    margin-right: 15px; 
}

.navbar-nav .nav-link {
    color: #495057; 
}

.navbar-nav .nav-link:hover {
    color: #007bff; 
}


/* jumbotron */
.carousel-caption h2 {
    margin-top: -150px; 
}

.carousel-caption a.btn {
    font-style: italic;
    font-weight: bold;
    margin-top: 20px; 
}


.white-text {
    font-style: italic;
    color: white;
}

.black-on-white {
    color: black;
    background-color: white;
    border: 1px solid white; 
}

/* about */
#About img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 250px; 
}

#About .row .col-md-6 img {
    border: 1px solid #ffffff; /* Border color */
    border-radius: 10px; /* Border radius for rounded corners */
    margin: -10px 0px 0px 140px; /* Adjust the margin as needed (top, right, bottom, left) */
}

.section-bg {
    background-color: #F8F9FA; 
    padding: 60px 0; 
    overflow: hidden;
}

#About .section-title {
    position: relative;
    text-align: center; 
}

/* product */
#ProductDetail img {
    max-width: 90%; 
    height: auto;
}

.card-body {
    text-align: center;
}

.card {
    margin-bottom: 20px;
}

/* Footer */
#subscribe-section {
    text-align: center;
    margin-top: 20px; /* Add margin to the top for spacing */
}

#subscribe-section form {
    max-width: 400px;
    margin: 0 auto; /* Center the form horizontally */
}

#subscribe-section input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
